 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); 

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
    background-image: url("img/bg.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
}
#culture{
    width: 100%;
    height: 150vh;
    position: relative;
}
#footer{
    background-color: #c810e0;
    position: relative;
    text-align: center;
    height: 15vh;
    top: 20%;
}

#home{
   background-color: #59405c00;
}

#about{
     background-color: #ED6663;
}

#Parts{
     background-color: #B52B65;
}

#culture{
     background-color: #3C2C3E;
}



/* changing names start */
#spin {
    color:rgb(250, 112, 0);
  }
  #spin:after {
    content:"";
    animation: spin 7s linear infinite;
  }
  @keyframes spin {
    0% { content:"Asian Wonders";}

    20% { content:"asiyanın möcüzələri";}

    40% { content:"아시아의 불가사의";}

    60% { content:"亚洲奇观";}

    80% { content: "สิ่งมหัศจรรย์แห่งเอเชีย"; }

    100% { content: "عجائب آسيوية"; }
  }
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 100px;
    text-overflow: ellipsis; 
    white-space: nowrap;
    font-family: 'Kaushan Script', cursive;
}
p1{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    
    
}
/* end of changing names */

.about{
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    top: 22%;
    left: 27%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 100px;
}
p2{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 75%;
    left: 27%;
    transform: translate(-50%, -70%);
    color: #fff;
    font-size: 17px;
    width: 40%;
}
img{
    display:block;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    transform: 1s smooth;
    position: absolute;
    top: 20%;
    right: 5%;
}




.parts{
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 100px;
}
p3{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: #fff;
    font-size: 20px;
    width: 60%;
    text-align: center;
}
.flag{
    position: relative;
    top: 45%;
    display: block;
  margin: 0 auto;
}




.culture{
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100px;
}

.video{
position: relative;
  top: 35%;
  display: block;
margin: 0 auto;

}
p4{
    font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  font-size: 20px;
  width: 70%;
  text-align: center;
}

.made{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.credit{
    font-family: 'Raleway', sans-serif;
    display: relative;
    font-size: 20px;
    margin-top: 10px;
}